<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="grid">
      <ion-icon src="assets/icon/elm.svg"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="data">
      <ion-icon src="assets/icon/find.svg"></ion-icon>
      <ion-label>实时数据</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon src="assets/icon/order.svg"></ion-icon>
      <ion-label>报表</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/icon/mine.svg"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>